<a href="https://colab.research.google.com/github/andre-la-machado/cnr/blob/master/modelling_lstm_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LSTM Modelling

On this Notebook, a LSTM Model will be tried for the Competitition Data.

## Libraries

In [1]:
%pip uninstall -q -y tensorflow
%pip install -q -U tensorflow-gpu>=2
%reset -f

WARNING: Skipping tensorflow as it is not installed.

In [2]:
!nvidia-smi

Mon Aug 31 03:22:57 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.66       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   42C    P8     9W /  70W |      0MiB / 15079MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [3]:
%pip install cupy-cuda101

Requirement already satisfied: cupy-cuda101 in /usr/local/lib/python3.6/dist-packages (7.4.0)
Requirement already satisfied: fastrlock>=0.3 in /usr/local/lib/python3.6/dist-packages (from cupy-cuda101) (0.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from cupy-cuda101) (1.15.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from cupy-cuda101) (1.18.5)
ERROR: Operation cancelled by user

In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set_style('darkgrid')
from cnr_methods import get_selected_features, transform_data, revert_data,metric_cnr, get_simplified_data
import random

from sklearn.model_selection import TimeSeriesSplit, train_test_split
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
import tensorflow as tf
print(tf.test.is_built_with_cuda())  # Sanity check: GPU available to tf or not
print(tf.test.is_built_with_gpu_support())
print(tf.config.list_physical_devices('GPU'))
print(tf.__version__)  # Check if __version__>="2.0.0"
print(tf.keras.__version__)

True
True
[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
2.3.0
2.4.0

## Read Data

Here, the data used correspond to the results of the Feature Engineering and Selection Step. For simplicity, during Hyperparameter Optimization, only Wind Farm 3 Training Data is used.

In [6]:
full_data = pd.read_csv("Selected_Features_Data.csv")

#full_data = full_data.rename({'Unnamed: 0' : 'Time'},axis=1)
full_data = full_data.set_index('Time')

full_label = pd.read_csv('Y_train.csv')
X = full_data[full_data['Set']=='Train']

WF = 'WF3'
X = X[X['WF']==WF]
y = full_label[full_label['ID'].isin(X['ID'])]

In [7]:
X = X.drop(['ID','WF','Set'],axis=1)

In [8]:
X.head()

                       U_100m  ...  V_10m_Expanded_Window_Max
Time                           ...
2018-05-01 01:00:00  5.789500  ...                   1.317597
2018-05-01 02:00:00  6.003300  ...                   1.483483
2018-05-01 03:00:00  5.931829  ...                   1.483483
2018-05-01 04:00:00  5.205300  ...                   1.483483
2018-05-01 05:00:00  4.845900  ...                   1.483483

[5 rows x 93 columns]

## Fill NaN's

To avoid Exploding Gradients, here the NaN's are filled.

In [9]:
X = X.fillna(method="ffill", axis=1) # ZOH
X = X.fillna(0)

In [10]:
y = y.fillna(method="ffill", axis=1) # ZOH
y = y.fillna(0)

## Diff Data

## Scaling Data

For a better performance of the Network, here the data is scaled between [-1,1] using MinMaxScaler. For the Direction Data, presented in degrees, Sin and Cos are calculated, which naturally have values in this same scale.

In [11]:
directions = X[['Wind Direction 100m', 'Wind Direction 10m']]
directions["Sin_Wind Direction 100m"] = np.sin(X['Wind Direction 100m']*(np.pi/180))
directions["Cos_Wind Direction 100m"] = np.cos(X['Wind Direction 100m']*(np.pi/180))
directions["Sin_Wind Direction 10m"] = np.sin(X['Wind Direction 10m']*(np.pi/180))
directions["Cos_Wind Direction 10m"] = np.cos(X['Wind Direction 10m']*(np.pi/180))

directions = directions.drop(['Wind Direction 100m', 'Wind Direction 10m'],axis=1)
directions = directions.reset_index().drop('Time',axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
X = X.drop(['Wind Direction 100m', 'Wind Direction 10m'],axis=1)
X_columns = X.columns

In [13]:
scaler = MinMaxScaler(feature_range=(-1,1))
X = scaler.fit_transform(X)
X = pd.DataFrame(X,columns=X_columns)

In [14]:
X = pd.concat([X,directions],axis=1)

In [15]:
y = y.drop('ID',axis=1)
y = scaler.fit_transform(y)
y = pd.DataFrame(y)

In [16]:
X.head()

     U_100m    V_100m  ...  Sin_Wind Direction 10m  Cos_Wind Direction 10m
0  0.228968  0.130650  ...                0.015634                0.999878
1  0.243537  0.136909  ...                0.018097                0.999836
2  0.238667 -0.050938  ...                0.017125                0.999853
3  0.189158 -0.002548  ...                0.013727                0.999906
4  0.164667 -0.063747  ...                0.011521                0.999934

[5 rows x 95 columns]

In [17]:
y

             0
0    -0.778768
1    -0.631774
2    -0.671863
3    -0.778768
4    -0.814402
...        ...
6234 -0.768374
6235 -0.808463
6236 -0.867854
6237 -0.839644
6238 -0.853007

[6239 rows x 1 columns]

In [18]:
y.shape

(6239, 1)

## Subsets Creation

Here, the Data is converted to a group of subsets where each subset has n_steps of past data.

In [19]:
n_steps = 60

In [20]:
# split a multivariate sequence into samples
def split_sequences(X, y = None, n_steps = 1):
	sample_X, sample_y = list(), list()
	for i in range(len(X)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the dataset
		if end_ix > len(X):
			break
		# gather input and output parts of the pattern
		seq_x = X[i:end_ix, :]
		sample_X.append(seq_x)
		if y is not None:
			seq_y = y[end_ix-1,-1]
			sample_y.append(seq_y)
	return np.array(sample_X), np.array(sample_y)

In [21]:
sample_X,sample_y = split_sequences(X.values,y.values,n_steps)

In [22]:
sample_X,sample_y = split_sequences(X.values,None,n_steps)

In [23]:
n_features = sample_X.shape[2]

## Model

Here, a function to create the Model usin Keras is defined.

In [24]:
def LSTM_Model(input_shape, batch_size=1):
  # Numerical branch

  input_layer = tf.keras.Input(shape = input_shape,batch_size = batch_size)

  hidden_1 = tf.keras.layers.LSTM(units=128,return_sequences=True,stateful=True)(input_layer)
  hidden_1 = tf.keras.layers.Dropout(0.1)(hidden_1)

  hidden_2 = tf.keras.layers.LSTM(units=87,return_sequences=True,stateful=True)(hidden_1)
  hidden_2 = tf.keras.layers.Dropout(0.1)(hidden_2)

  hidden_3 = tf.keras.layers.LSTM(units=57, stateful=True)(hidden_2)
  hidden_3 = tf.keras.layers.Dropout(0.1)(hidden_3)


  # Output
  #outputs = tf.keras.layers.PReLU()(hidden_2)
  #outputs = tf.keras.layers.Dropout(rate=0.2)(hidden_2)
  outputs = tf.keras.layers.Dense(units=1)(hidden_3)

  model = tf.keras.Model(inputs=input_layer, outputs=outputs)

  return model

In [25]:
input_shape = (n_steps,n_features)

In [26]:
model = LSTM_Model(input_shape)

In [27]:
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(1, 60, 95)]             0
_________________________________________________________________
lstm (LSTM)                  (1, 60, 128)              114688
_________________________________________________________________
dropout (Dropout)            (1, 60, 128)              0
_________________________________________________________________
lstm_1 (LSTM)                (1, 60, 87)               75168
_________________________________________________________________
dropout_1 (Dropout)          (1, 60, 87)               0
_________________________________________________________________
lstm_2 (LSTM)                (1, 57)                   33060
_________________________________________________________________
dropout_2 (Dropout)          (1, 57)                   0
_________________________________________________________________
dense (Dense)                (1, 1)                    58
=================================================================
Total params: 222,974
Trainable params: 222,974
Non-trainable params: 0
_________________________________________________________________

## Validation

In [28]:
random.seed(317)
tf.random.set_seed(317)

patience = 3
epochs = 10
k_fold_splits = 5
total_it = 50
monitor = "root_mean_squared_error"
batch_size = 1

#n_rows = round(X.shape[0]/k_fold_splits)

In [ ]:
# Define Time Split Cross Validation
tscv = TimeSeriesSplit(n_splits=k_fold_splits)

# Separating Data from Hold Out Set

X_cv, _, y_cv, _ = train_test_split(X, y, test_size=0.125, shuffle=False)

train_scores = np.empty(0)
val_scores = np.empty(0)
test_scores = np.empty(0)
for train_index, test_index in tscv.split(X_cv):

    #train_index = train_index[-n_rows:]
    #test_index = test_index[-n_rows:]

    # Get the Data of the Split
    X_train, X_test = X_cv.iloc[train_index], X_cv.iloc[test_index]
    y_train, y_test = y_cv.iloc[train_index], y_cv.iloc[test_index]

    # Separating Training Set of Split on Train and Validation Subsets
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.143, shuffle=False)

    # Reshape Data
    X_train, y_train = split_sequences(X_train.values,y_train.values,n_steps)
    X_val, y_val = split_sequences(X_val.values,y_val.values,n_steps)
    X_test, y_test = split_sequences(X_test.values,y_test.values,n_steps)

    # Create Model
    model = LSTM_Model(input_shape,batch_size=batch_size)

    # Callbacks
    callbacks_list = [tf.keras.callbacks.EarlyStopping(monitor=monitor, patience=patience, verbose=0, min_delta=1e-8)]

    # Train the Model
    model.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
    history = model.fit(x = X_train, y = y_train, batch_size = batch_size, epochs = epochs, validation_data = (X_val, y_val), callbacks=callbacks_list,shuffle=False)

    # Train and Validation Score
    train_score = np.array(history.history['root_mean_squared_error']).mean()
    val_score = np.array(history.history['val_root_mean_squared_error']).mean()

    # Test Score
    preds = model.predict(X_test,batch_size = batch_size,callbacks=callbacks_list)
    preds = tf.cast(preds, tf.float32)
    y_test = tf.cast(y_test, tf.float32)

    m = tf.keras.metrics.RootMeanSquaredError()
    m.update_state(y_test,preds)
    test_score = m.result().numpy()

    train_scores = np.append(train_scores,train_score)
    val_scores = np.append(val_scores,val_score)
    test_scores = np.append(test_scores,test_score)

Epoch 1/10

In [ ]:
plt.figure(figsize=(10,8))
plt.plot(range(len(train_scores)),train_scores,label='Train Scores')
plt.plot(range(len(val_scores)),val_scores,label='Validation Scores')
plt.plot(range(len(test_scores)),test_scores,label='Test Scores')
plt.legend()

### Hold Out Score

Here, the same model is trained on all the data used on the Validation and tested on a Holdout Set never seen before.

In [ ]:
X_train, X_holdout, y_train, y_holdout = train_test_split(X, y, test_size=0.125, shuffle=False)

In [ ]:
#X_train, y_train = X_train.iloc[-n_rows:],y_train.iloc[-n_rows:]

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.143, shuffle=False)

In [ ]:
X_train, y_train = split_sequences(X_train.values,y_train.values,n_steps)
X_val, y_val = split_sequences(X_val.values,y_val.values,n_steps)
X_holdout, y_holdout = split_sequences(X_holdout.values,y_holdout.values,n_steps)

In [ ]:
model = LSTM_Model(input_shape)

In [ ]:
callbacks_list = [tf.keras.callbacks.EarlyStopping(monitor=monitor, patience=patience, verbose=0, min_delta=1e-8)]
model.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
model.fit(x = X_train, y = y_train, batch_size = batch_size, epochs = epochs, validation_data = (X_val, y_val), callbacks=callbacks_list)

In [ ]:
preds = model.predict(X_holdout,batch_size = batch_size,callbacks=callbacks_list)

Here, Predicitions and True Labels of the Holdout Set are scaled back to measure the CAPE Error, and be compared on a Chart.

In [ ]:
preds = scaler.inverse_transform(preds)
y_holdout = scaler.inverse_transform(pd.DataFrame(y_holdout))

In [ ]:
def metric_cnr(preds,labels):
    cape_cnr = 100*np.sum(np.abs(preds-labels))/np.sum(labels)
    return 'CAPE', cape_cnr

In [ ]:
metric_cnr(preds,y_holdout)

In [ ]:
plt.figure(figsize=(15,8))
preds_len = np.arange(len(y_holdout))
plt.plot(preds_len,y_holdout,label='True Values')
plt.plot(preds_len,preds,'r--',label='Predicts')
plt.legend()

## Submission Generation

First, a function with all the preprocessing made to prepare data for network is defined.

In [ ]:
def preprocessing_net(full_X,full_y=None):
  processed_X = pd.DataFrame()
  processed_y = pd.DataFrame()
  for WF in full_X['WF'].unique():
    X = full_X[full_X['WF']==WF]

    scaler = MinMaxScaler(feature_range=(-1,1))

    if full_y is not None:
      y = full_y[full_y['ID'].isin(X['ID'])]
      y = y.fillna(method="ffill", axis=1) # ZOH
      y = y.fillna(0)
      y_saved_columns = y[['ID']].reset_index().drop('index',axis=1)
      y = y.drop('ID',axis=1)
      y = scaler.fit_transform(y)
      y = pd.DataFrame(y)
      y = pd.concat([y,y_saved_columns],axis=1)
      processed_y = pd.concat([processed_y,y])

    X_saved_columns = X[['ID','WF','Set','Month_Number']]
    X_saved_columns = X_saved_columns.reset_index().drop('Time',axis=1)
    X = X.drop(['ID','WF','Set','Month_Number'],axis=1)

    # Fill NaN's
    X = X.fillna(method="ffill", axis=1) # ZOH
    X = X.fillna(0)

    # Scaling Data
    directions = X[['Wind Direction 100m', 'Wind Direction 10m']]
    directions["Sin_Wind Direction 100m"] = np.sin(X['Wind Direction 100m']*(np.pi/180))
    directions["Cos_Wind Direction 100m"] = np.cos(X['Wind Direction 100m']*(np.pi/180))
    directions["Sin_Wind Direction 10m"] = np.sin(X['Wind Direction 10m']*(np.pi/180))
    directions["Cos_Wind Direction 10m"] = np.cos(X['Wind Direction 10m']*(np.pi/180))
    directions = directions.drop(['Wind Direction 100m', 'Wind Direction 10m'],axis=1)
    directions = directions.reset_index().drop('Time',axis=1)

    X = X.drop(['Wind Direction 100m', 'Wind Direction 10m'],axis=1)
    X_columns = X.columns

    X = scaler.fit_transform(X)
    X = pd.DataFrame(X,columns=X_columns)
    X = pd.concat([X,directions],axis=1)
    X = pd.concat([X,X_saved_columns],axis=1)

    processed_X = pd.concat([processed_X,X])

  return processed_X,processed_y

In [ ]:
full_data,full_label = preprocessing_net(full_data,full_label)

In [ ]:
'''
final_preds = np.empty(0)
for WF in full_data['WF'].unique():
  X_WF = full_data[full_data['WF']==WF]
  full_X_train = X_WF[X_WF['Set']=='Train']

  last_train_month = full_X_train['Month_Number'].unique()[-1]
  full_X_train = full_X_train[full_X_train['Month_Number']==last_train_month]

  full_y_train = full_label[full_label['ID'].isin(full_X_train['ID'])]
  full_X_test = X_WF[X_WF['Set']=='Test']

  full_X_train = full_X_train.drop(['ID','WF','Set'],axis=1)
  full_y_train = full_y_train.drop('ID',axis=1)


  X_train, y_train = split_sequences(full_X_train.values,full_y_train.values,n_steps)

  num_months = 8
  WF_preds = np.empty(0)
  predicted_X_test = np.empty((0,60,95))
  for month in full_X_test['Month_Number'].unique():

    print("Farm {} - Month {}".format(WF,month))

    if month == 9:
      X_test = full_X_test[full_X_test['Month_Number']==month]
      X_test_10 = full_X_test[full_X_test['Month_Number']==10]
      X_test = pd.concat([X_test,X_test_10])
    else:
      X_test = full_X_test[full_X_test['Month_Number']==month]

    if month == 10:
      continue

    X_test = X_test.drop(['ID','WF','Set'],axis=1)
    X_test, _ = split_sequences(X_test.values,None,n_steps)

    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.143, shuffle=False)

    model = LSTM_Model(input_shape,batch_size=batch_size)
    callbacks_list = [tf.keras.callbacks.EarlyStopping(monitor=monitor, patience=patience, verbose=0, min_delta=1e-8)]
    model.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
    model.fit(x = X_train, y = y_train, batch_size = batch_size, epochs = epochs, validation_data = (X_val, y_val), callbacks=callbacks_list,shuffle=False)

    pred = model.predict(X_test,batch_size = batch_size,callbacks=callbacks_list)
    pred = pred.reshape(pred.shape[0])

    X_train = X_test
    y_train = pred
    WF_preds = np.append(WF_preds,pred)
    num_months = num_months + 1

  final_preds = np.append(final_preds,WF_preds)
  '''

In [ ]:
final_preds = np.empty(0)
for WF in full_data['WF'].unique():
  X_WF = full_data[full_data['WF']==WF]
  full_X_train = X_WF[X_WF['Set']=='Train']
  full_y_train = full_label[full_label['ID'].isin(full_X_train['ID'])]
  full_X_test = X_WF[X_WF['Set']=='Test']

  full_X_train = full_X_train.drop(['ID','WF','Set'],axis=1)
  full_y_train = full_y_train.drop('ID',axis=1)


  full_X_train, full_y_train = split_sequences(full_X_train.values,full_y_train.values,n_steps)

  num_months = 8
  WF_preds = np.empty(0)
  predicted_X_test = np.empty((0,60,95))
  for month in full_X_test['Month_Number'].unique():

    print("Farm {} - Month {}".format(WF,month))

    if month == 9:
      X_test = full_X_test[full_X_test['Month_Number']==month]
      X_test_10 = full_X_test[full_X_test['Month_Number']==10]
      X_test = pd.concat([X_test,X_test_10])
    else:
      X_test = full_X_test[full_X_test['Month_Number']==month]

    if month == 10:
      continue

    X_test = X_test.drop(['ID','WF','Set'],axis=1)
    X_test, _ = split_sequences(X_test.values,None,n_steps)

    X_train = np.append(full_X_train,predicted_X_test,axis=0)
    y_train = np.append(full_y_train,WF_preds,axis=0)

    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=1/num_months, shuffle=False)

    model = LSTM_Model(input_shape,batch_size=batch_size)
    callbacks_list = [tf.keras.callbacks.EarlyStopping(monitor=monitor, patience=patience, verbose=0, min_delta=1e-8)]
    model.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
    model.fit(x = X_train, y = y_train, batch_size = batch_size, epochs = epochs, validation_data = (X_val, y_val), callbacks=callbacks_list,shuffle=False)

    pred = model.predict(X_test,batch_size = batch_size,callbacks=callbacks_list)
    pred = scaler.inverse_transform(pred)
    pred = pred.reshape(pred.shape[0])

    predicted_X_test = np.append(predicted_X_test,X_test,axis=0)
    WF_preds = np.append(WF_preds,pred)
    num_months = num_months + 1

  final_preds = np.append(final_preds,WF_preds)

In [ ]:
final_preds.shape

In [ ]:
final_preds = pd.DataFrame(final_preds,columns=['Production'])

In [ ]:
final_preds = scaler.inverse_transform(final_preds)

In [ ]:
final_preds['ID'] = pd.read_csv(r'random_submission_example.csv')['ID']
final_preds = final_preds.set_index('ID')

In [ ]:
plt.plot(final_preds.index,final_preds['Production'])

In [ ]:
final_preds.to_csv('Submission_LSTM.csv')

In [ ]:
from google.colab import files
files.download('Submission_LSTM.csv')